.shopping-cart-table {
    margin-top: 45px;
}

.shopping-cart-table .table thead tr {
    text-align: center;
}
 
.shopping-cart-table .table tbody tr {
    text-align: center;
}
 
.shopping-cart-table .total {
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
    font-weight: bold;
}

.shopping-cart-table button {
    margin-left: 5px;
    margin-top: 5px;
}